<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Fully responsive project with a backend">
        <link rel="stylesheet" href="main.css">
        <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
        <!-- animated css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <title>wire frame chal</title>
    </head>
    <body>

            <header id="header" class="container-fluid">
                    <nav id="navbar" class="navbar navbar-expand-xl position-fixed-top  navbar-light">
                            <div class="col-2 mx-auto mx-xl-0 d-block d-xl-none">
                                    <div class="justify-content-xl-center d-flex">
                                        <a id="marylandColor" class="navbar-brand m-0 p-0 mx-auto" href="/" aria-label="Navbar">MarylandCleanUp</a>
                                    </div>
                                </div>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse p-0 m-0" id="navbarNav">
                                <div class="p-0 m-0 col-12 col-xl-5 mx-auto mx-xl-0">
                                    <div class="justify-content-xl-end d-flex mx-auto">
                                            <ul id="navbarSectionOne" class="text-center nav nav-pills mx-auto navbar-nav">
                                                    <li class="nav-item text-center <% if(page_name === "index") { %> active <% } %>">
                                                        <a class="nav-link ml-5" href="/" aria-label="Home">Home <span class="sr-only">Home</span></a>
                                                    </li>
                                                    <li class="nav-item text-center <% if(page_name === "contact") { %> active <% } %>">
                                                        <a class="nav-link ml-5" href="/contact" aria-label="/contact">Contact</a>
                                                    </li>
                                                </ul>
                                    </div>
                                </div>

                                <div class="col-2 mx-auto mx-xl-0 d-none d-xl-block">
                                    <div class="justify-content-xl-center d-flex">
                                        <a id="marylandColor" class="navbar-brand m-0 p-0 mx-auto" href="/" aria-label="Navbar">MarylandCleanUp</a>
                                    </div>
                                </div>

                                <div class="col-12 col-xl-5 mx-auto mx-xl-0">
                                    <div class="justify-content-xl-start">
                                            <ul id="headerUltwo" class="nav nav-pills text-light mx-auto navbar-nav">
                                                    <!-- If no current user display... -->
                                                        <li class="nav-item mx-auto text-center">
                                                            <a class="nav-link mr-5" href="/login" aria-label="About">About</a>
                                                        </li>
                                                        <li class="nav-item mx-auto">
                                                            <a class="nav-link mr-5" href="" aria-label="Our Goal">Our Goal</a>
                                                        </li>
                                                        <li class="nav-item mx-auto text-center">
                                                            <button class="btn btn-primary mr-5" href="" aria-label="Donation">Donation</button>
                                                        </li>
                                                </ul>
                                    </div>
                                </div>
                            </div>
                    </nav>
            </header>   