<% include ../partials/header %>
<!-- home link -->
<a name="home"></a>

<!-- Image Slide -->
<div id="myCarousel" class="carousel slide border-bottom d-none d-sm-block" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <image class="w-100" height="650px" src="marylandtrash1.webp">
    </div>
    <div class="carousel-item">
      <image class="w-100" height="650px" src="marylandtrash2.webp">
    </div>
    <div class="carousel-item">
      <image class="w-100" height="650px" src="marylandtrash3.webp">
    </div>
  </div>
</div>
<!-- Image Slide -->

<!-- Ourgoal Link-->
<a name="ourGoal"></a>
<!-- Ourgoal Link-->

<!--Quote-->
  <div class="fluid-container mt-5 mt-sm-0">
    <div class="text-center bg-dark pt-4">
      <p class="pb-4 lead text-light font-weight-bold w-50 mx-auto">"Americans generate 10.5 million tons of PLASTIC waste a year but recycle only 1 or 2 % of it"</p>
    </div>
  </div>
<!--Quote-->

<!-- Our Goal -->
  <section id="sectionVideo" class="col-12">
    <div id="ourgoalBack" class="row pb-5">
      <!-- Youtube Video -->
        <div class="col-12 col-xl-6 mt-5">
            <div class="embed-responsive shadow embed-responsive-21by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1qT-rOXB6NI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
    
          <!-- Our Goal Text --> 
          <div class="col-xl-6 mt-5">
            <div class="justify-content-end mx-auto text-center">
                <h2 id="marylandColor" class="text-center">Our Goal</h2>
                <hr class="w-50 mx-auto style-one">

                <!-- About Link -->
                <a name="about"></a>

                <p id="ourgoalP" class="mx-auto text-dark mt-4 w-75">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, necessitatibus id rerum, aut eveniet accusamus nemo, mollitia amet sit assumenda facere deserunt culpa numquam fugiat. Blanditiis incidunt tempora aliquam quibusdam. Minus assumenda optio velit ab beatae vitae, consequuntur eos quasi earum est tempora, aliquid unde. Nisi, nulla dolorem est eveniet provident explicabo rerum, dignissimos ut nesciunt rem facere, eligendi deserunt?</p>
            </div>
          </div>
    </div>
</section>
<!-- Our Goal -->


<!-- About -->
<section id="aboutBack" class="container-fluid col-12 pt-5">
    <div class="col-8 mx-auto mt-5 pt-2 text-center text-light">
        <hr class="w-25 bg-light mx-auto">
        <h2 class="text-center mx-auto">About</h2>
        <hr class="w-25 bg-light mx-auto">
        <p class="lead mt-5 pb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea provident voluptates veritatis perferendis autem atque quisquam. Quos ipsam delectus totam tempora aliquid magni iure minima.</p>
      </div>
  <div class="row justify-content-around d-flex mt-5">

      <div class="card text-center shadow mt-3" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <hr class="w-50 mx-auto">
            <h5 class="card-title">Card title</h5>
            <hr class="w-50 mx-auto">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
      </div>

        <div class="card text-center shadow mt-3" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <hr class="w-50 mx-auto">
              <h5 class="card-title">Card title</h5>
              <hr class="w-50 mx-auto">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>

          <div class="card text-center shadow mt-3" style="width: 18rem;">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <hr class="w-50 mx-auto">
                <h5 class="card-title">Card title</h5>
                <hr class="w-50 mx-auto">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
          </div>
    </div>
</section>
<!-- About -->

<!-- Contact link -->
<a name="contact"></a>

<!-- Contact -->

<div class="container col-10 col-sm-9 col-md-7 col-lg-5 col-xl-3 mt-5 pt-5 pb-3">
  <form id="form-contact" class="form-contact" method="POST" action="/contactForm">
    <h2 class="text-center mx-auto">Contact Form</h2>
      <div class="w-50 float-left mt-3">
          <label for="firstName">First Name:</label>
          <input type="text" name="contact[firstName]" id="firstName" class="form-control" placeholder="First Name" required>
      </div>

      <div class=" w-50 float-right mt-3">
          <label for="lastName">Last Name:</label>
          <input type="text" name="contact[lastName]" id="lastName" class="form-control" placeholder="Last Name" required>
      </div>
      <label for="email" class="mt-4 p-0">Email:</label>
      <input type="email" name="contact[email]" id="email" class="form-control" placeholder="Email" required>
      <label for="message" class="mt-4">Message:</label>
      <textarea id="contactArea" class="w-100" name="contact[message]" id="message" placeholder=" Message" required>  </textarea>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit Contact Form</button>
</form>
</div>

<!-- Contact -->


<!-- Footer -->
<footer class="page-footer font-small bg-blue pt-4 border-top mt-5">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-3 mx-auto">

        <!-- Content -->
        <h5 class="text-uppercase text-center mt-3">Footer Content</h5>
        <p class="text-center mt-2">Here you can use rows and columns to organize your footer content.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-md-3 mt-3">

        <!-- Footer Links -->
        <ul class="list-unstyled">
          <li>
            <a href="#home">Home</a>
          </li>
          <li class="mt-2">
            <a href="#about">About</a>
          </li>
        </ul>
        <!-- Footer Links -->

      </div>

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3 mt-md-3">

        <!-- Footer Links -->
        <ul class="list-unstyled">
          <li>
            <a href="#contact">Contact</a>
          </li>
          <li class="mt-2">
            <a href="#!">Donate</a>
          </li>
          <li class="mt-2">
            <a href="#ourGoal">Our Goal</a>
          </li>
        </ul>
        <!-- Footer Links -->

        <!-- Social Links -->
        <div class="float-md-right pr-md-5">
          <a class="mr-3 text-primary" href=""><i class="fab fa-facebook-square"></i></a>
          <a class="mr-3 text-primary" href=""><i class="fab fa-twitter"></i></a>
          <a class="mr-3 text-dark" href=""><i class="fab fa-instagram"></i></a>
        </div>
        <!-- Social Links -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">&copy; Copyright 2019
          <a class="text-center" href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, accusamus.</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<script>
    $(document).ready(function () {
            $('.nav li a').click(function(e) {
        
                $('.nav li.active').removeClass('active');
        
                var $parent = $(this).parent();
                $parent.addClass('active');
        });
        });</script>


<% include ../partials/footer %>